<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoVis UE 2024</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

    <script src="https://d3js.org/d3.v7.min.js"></script>


</head>
<body>

<div class='title_div'>
    <h1>InfoVis UE 2024 - Exercise 2</h1>
    <p>Enter your name and Matrikelnummer</p>
</div>

<div class="container">
    <h1>Monthly Divorces in Austria by State per 1k</h1>
    <label for="stateSelector">Select State:</label>
    <select id="stateSelector"></select>
    <div id="divorceMonthly"></div>
</div>

<div class="container">
    <h1>Divorce Rate over Time in %</h1>
    <div id="divorceRateYears"></div>
</div>

<script>
    let divorceMonthly = {{ divorceMonthly | safe}}
    console.log(divorceMonthly);
    let divorceRate = {{ divorceRate | safe}}
    console.log(divorceRate);
</script>

<script src="../static/scripts/util.js"></script>
<script src="../static/scripts/divorceMonthly.js"></script>
<script src="../static/scripts/divorceRateYears.js"></script>
<div id="svg_line_plot" class="svg_line_plot"></div>

</body>
</html>