<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoVis UE 2024</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

    <script src="https://d3js.org/d3.v7.min.js"></script>


</head>
<body>
<div class="grid">

    <div class="container heatmap">
        <h2>Divorce Rate by State in <span id="selectedYear" class="dynamicvalue"></span></h2>
        <button class="button" type="button" onclick="deselectStates()">Deselect state</button>
        <div id="map"></div>
        <div class="slidecontainer">
            <span>2005</span><input type="range" min="2005" max="2023" value="2010" class="slider"
                                    id="yearSlider"><span>2023</span>
        </div>
    </div>

    <div class="container divorceRateYears">
        <h2>Divorce Rate over Time in %</h2>
        <div id="divorceRateYears"></div>
    </div>

    <div class="container divorceMonthly">
        <h2>Monthly Divorces in <span id="selectedState" class="dynamicvalue"></span> per 1000 Citizens</h2>
        <div id="divorceMonthly"></div>
    </div>

    <div class="container marriageDuration">
        <h2>Divorce by Marriage Duration in 2023</h2>
        <div id="marriageDuration"></div>
    </div>
</div>

<script>
    let divorceMonthly = {{ divorceMonthly | safe }}
    let divorceRate = {{ divorceRate | safe }}
    let divorceMarriageDuration = {{ divorceMarriageDuration | safe }}
    let austriaMap = {{ austriaMap | safe }};
    let divorceLandPercent = {{ divorceLandPercent | safe }};
</script>

<script src="../static/scripts/util.js"></script>
<script src="../static/scripts/divorceMonthly.js"></script>
<script src="../static/scripts/divorceRateYears.js"></script>
<script src="../static/scripts/marriageDuration.js"></script>
<script src="../static/scripts/map.js"></script>
<script src="../static/scripts/stateManager.js"></script>
<div id="svg_line_plot" class="svg_line_plot"></div>

</body>
</html>