<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoVis UE 2024</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

    <script src="https://d3js.org/d3.v7.min.js"></script>


</head>
<body>

<div class='title_div'>
    <!-- Title? -->
</div>
<div class="grid">
    <div class="container heatmap">
        <!-- TODO: add heatmap/selector for monthly-->
    </div>

    <div class="container divorceRateYears">
        <h1>Divorce Rate over Time in %</h1>
        <div id="divorceRateYears"></div>
    </div>

    <div class="container divorceMonthly">
        <h1>Monthly Divorces in Austria by State per 1k</h1>
        <label for="stateSelector">Select State:</label>
        <select id="stateSelector"></select>
        <div id="divorceMonthly"></div>
    </div>
<div class="container">
    <h1>Map of Austria</h1>
    <div id="map"></div>
    <div class="slidecontainer">
        <label for="yearSlider"> Selected year: <span id="selectedYear"></span></label><br/>
        <span>2005</span><input type="range" min="2005" max="2023" value="2010" class="slider" id="yearSlider"><span>2023</span>
    </div>
</div>

<div class="container">
    <h1>Monthly Divorces in Austria by State per 1k</h1>
    <label for="stateSelector">Select State:</label>
    <select id="stateSelector"></select>
    <div id="divorceMonthly"></div>
</div>

<div class="container">
    <h1>Divorce Rate over Time in %</h1>
    <div id="divorceRateYears"></div>
</div>

    <div class="container marriageDuration">
        <h1>Divorce by Marriage Duration</h1>
        <div id="marriageDuration"></div>
    </div>
</div>

<script>
    let divorceMonthly = {{ divorceMonthly | safe }}
    let divorceRate = {{ divorceRate | safe }}
    let divorceMarriageDuration = {{ divorceMarriageDuration | safe }}
    let austriaMap = {{ austriaMap | safe }};
    let divorceLandPercent = {{ divorceLandPercent | safe }};
</script>

<script src="../static/scripts/util.js"></script>
<script src="../static/scripts/divorceMonthly.js"></script>
<script src="../static/scripts/divorceRateYears.js"></script>
<script src="../static/scripts/marriageDuration.js"></script>
<script src="../static/scripts/map.js"></script>
<div id="svg_line_plot" class="svg_line_plot"></div>

</body>
</html>