body {
    padding-left: 5em;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #222222;
    background-color: #fff;
}

.container {
    width: 80%;
}

.tooltip {
    display: inline;
    position: absolute;
}

.grid {
    display: grid;
    height: 60%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
}
